nav.nav#navigation(role="navigation")

  ul.nav__items
    li.nav__item
      if homePage
        a.nav__link.nav__link--current(href="/") Home
      else
        a.nav__link(href="/") Home
    li.nav__item
      if aboutPage
        a.nav__link.nav__link--current(href="/chi-siamo/") Chi Siamo
      else
        a.nav__link(href="/chi-siamo/") Chi Siamo
    li.nav__item
      if shopPage
        a.nav__link.nav__link--current(href="/chi-siamo/") Negozi
      else
        a.nav__link(href="/chi-siamo/") Negozi
    li.nav__item
      if workPage
        a.nav__link.nav__link--current(href="/chi-siamo/") Lavora con noi
      else
        a.nav__link(href="/chi-siamo/") Lavora con noi

  ul.nav__social-items
    li.nav__social-item
      a.nav__social-link(href="#")
        span.sr-only Instagram
        svg
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram")

    li.nav__social-item
      a.nav__social-link(href="#")
        span.sr-only Facebook
        svg
          use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook")

  a.nav__btn--close-2(href="#" rel="nofollow")
    span.sr-only Chiudi menu  
    svg
      use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#nav-close")
