svg
  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#brand")
svg
  use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")

img(src="img/_MG_4420.JPG", srcset="img/_MG_4420-1920.JPG 1920w, img/_MG_4420-1440.JPG 1440w, img/_MG_4420-960.JPG 960w" alt="Prova 1")
img(src="img/_MG_4422.JPG", srcset="img/_MG_4422-1920.JPG 1920w, img/_MG_4422-1440.JPG 1440w, img/_MG_4422-960.JPG 960w" alt="Prova 2")
