include ../_vars.jade
- var pageTitle   = "Contacts – Adele Altman"
- var contactPage = true

doctype html
html(lang="it")
  include ../includes/_head.jade
  body.fade
    include ../img/icons/tmp/icons.svg

    div.app
      div.app__content
        include ../includes/_header.jade
        include ../includes/_nav.jade

        div.page
          div.page__content
            p.sub Headquarter
            h2 Contacts
            p
              a.btn(href="mailto:commerciale@adelealtman.it") Email
            p
              a(href="http://maps.google.com/maps?q=Via+del+Tritone+138,+00186+Rome,+Italy" target="_blank") Via del Tritone 138 00186, Roma

          span.image.slide-3
          span.overlay

        include ../includes/_footer.jade

    script(src='/js/all.js')
    include ../includes/_analytics.jade
