.header
  position: relative
  opacity: 0

  &__logo
    position: fixed
    left: 0
    top: 0
    z-index: 4

    svg
      width: em-calc(214)
      height: em-calc(18)

  &__nav
    position: fixed
    z-index: 4
    right: 0
    top: 0

    svg
      height: em-calc(34)
      width: em-calc(34)

  &__title
    margin: 0
    font-size: em-calc(16)

  &__link
    display: inline-block
    cursor: pointer
    box-sizing: border-box
    line-height: 0
    padding: em-calc(20)

    @include media(#{em-calc(640)})
      padding: em-calc(24)

    @include media(#{em-calc(960)})
      padding: em-calc(32)

    &--logo
      padding: em-calc(28) em-calc(20)

      @include media(#{em-calc(640)})
        padding: em-calc(32) em-calc(24)

      @include media(#{em-calc(960)})
        padding: em-calc(38) em-calc(32)

  &__link--open
    .nav--open &
      opacity: 0
