include ../_vars.jade
- var pageTitle  = "Work With Us – Adele Altman"
- var workPage   = true

doctype html
html(lang="it")
  include ../includes/_head.jade
  body.fade
    include ../img/icons/tmp/icons.svg

    div.app
      div.app__content
        include ../includes/_header.jade
        include ../includes/_nav.jade

        div.work
          div.work__content
            p.sub Opportunità di carriera
            h2
              | Work 
              br
              | With Us
            p
              a.btn(href="mailto:risorseumane@adelealtman.it") Invia il tuo CV
            p Se sei interessato ad entrare a far parte del nostro team, inviaci il tuo cv.
          span.image.slide-4
          span.overlay

        include ../includes/_footer.jade

    script(src='/js/all.js')
    include ../includes/_analytics.jade
