include ../_vars.jade
- var pageTitle   = "History – Adele Altman"
- var historyPage = true

doctype html
html(lang="it")
  include ../includes/_head.jade
  body.fade
    include ../img/icons/tmp/icons.svg

    div.app
      div.app__content
        include ../includes/_header.jade
        include ../includes/_nav.jade

        div.page
          div.page__content
            p.sub Company
            h2 History
            p Adele Altman, stilista impegnata da sempre nell’arte di vestire le donne di tutto l’emisfero, miscelando la creatività all’eccellenza della produzione italiana nel mondo della moda e degli accessori.
            p Spazi espositivi eleganti e lussuosi delle boutique, dove le collezioni abbigliamento si miscelano agli accessori; le calzature e le collezioni pelletteria particolarmente apprezzate a livello nazionale ed internazionale.
            p La mania della qualità, scelta da Adele Altman, è di tenere la produzione nella penisola dell’arte e della cultura, che sta ripagando i numerosi sacrifici.
            p Nata in una famiglia di sarti, Adele inizia sin da bambina ad interessarsi al mondo della moda femminile, diventando poi, nel corso della sua vita professionale, consulente di maison internazionali del mondo della moda e del lusso, fino a che non decide di aprire nella sua città natale Roma le boutique della bellezza e della semplicità “complicata” delle sue clienti.
          span.image.slide-2
          span.overlay

        include ../includes/_footer.jade

    script(src='/js/all.js')
    include ../includes/_analytics.jade
