include ../_vars.jade
- var pageTitle   = "History – Adele Altman"
- var historyPage = true

doctype html
html(lang="it")
  include ../includes/_head.jade
  body.fade
    include ../img/icons/tmp/icons.svg

    div.app
      div.app__content
        include ../includes/_header.jade
        include ../includes/_nav.jade

        div.page
          div.page__content
            p.sub Company
            h2 History
            p Tincidunt lacus. Proin dictum mattis feugiat. Nunc a finibus ex. Vestibulum pharetra leo nec lorem dapibus euismod. Aliquam hendrerit lacus vel neque dapibus suscipit. Aliquam semper augue eu quam efficitur, at volutpat dui consequat. Quisque lobortis quis risus in feugiat. Nam tristique, neque a scelerisque convallis, risus quam gravida nibh, vel scelerisque augue magna quis justo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt enim dolorum non temporibus, harum ipsa recusandae repellat rem! Tempore vitae quos natus nesciunt inventore provident obcaecati harum rerum laudantium, error? Nulla at feugiat erat, sed rutrum lectus. Curabitur faucibus dapibus massa non elementum. Aenean iaculis sagittis velit et tincidunt. Fusce vel pharetra nisl, a malesuada turpis. Vestibulum aliquet nec augue ut molestie. Aliquam tempor posuere tellus, ac convallis elit faucibus sit amet. Maecenas at congue diam, sed pharetra dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sollicitudin tincidunt nulla, ut molestie ex ultrices ut. Duis sagittis risus sit amet mi gravida rutrum eget at elit. Donec nec vestibulum leo. In euismod nec nisl quis commodo. Nunc eu vestibulum massa. Nulla a congue risus. Vivamus arcu nunc, malesuada at est eu, porta faucibus arcu.
          span.image.slide-2
          span.overlay

        include ../includes/_footer.jade

    script(src='/js/all.js')
    include ../includes/_analytics.jade
