include ../_vars.jade
- var title = "Pages – Adele Altman";

doctype html
html(lang="it")
  include ../includes/_head.jade
  body
    include ../img/icons/tmp/icons.svg

    include ../includes/_header.jade
    
    svg
      use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#brand")
    svg
      use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")

    img(src="img/_MG_4420.JPG", srcset="img/_MG_4420-1920.JPG 1920w, img/_MG_4420-1440.JPG 1440w, img/_MG_4420-960.JPG 960w" alt="Prova 1")
    img(src="img/_MG_4422.JPG", srcset="img/_MG_4422-1920.JPG 1920w, img/_MG_4422-1440.JPG 1440w, img/_MG_4422-960.JPG 960w" alt="Prova 2")
    
    include ../includes/_footer.jade

    script(src='/js/all.js')
    include ../includes/_analytics.jade
