include ../_vars.jade
- var title = "Pages – Adele Altman";

doctype html
html(lang="it")
  include ../includes/_head.jade
  body
    include ../img/icons/tmp/icons.svg

    include ../includes/_header.jade
    
    h1 This is a homepage
    
    include ../includes/_footer.jade

    script(src='/js/all.js')
    include ../includes/_analytics.jade
