include ../_vars.jade
- var title       = "Lavora con noi – Adele Altman"
- var workPage   = true

doctype html
html(lang="it")
  include ../includes/_head.jade
  body.work-page.fade
    include ../img/icons/tmp/icons.svg

    include ../includes/_header.jade
    include ../includes/_nav.jade

    div.work
      div.page__content
        p.sub Opportunità di carriera
        h1
          | Lavora
          br
          | con noi
        p
          a.btn(href="mailto:risorseumane@adelealtman.it") Invia il tuo CV
        p Tincidunt lacus. Proin dictum mattis feugiat. Nunc a finibus ex. Vestibulum pharetra leo nec lorem dapibus euismod. Aliquam hendrerit lacus vel neque dapibus suscipit. Aliquam semper augue eu quam efficitur, at volutpat dui consequat. Quisque lobortis quis risus in feugiat. Nam tristique, neque a scelerisque convallis, risus quam gravida nibh, vel scelerisque augue magna quis justo.
      span.overlay
    
    include ../includes/_footer.jade

    script(src='/js/all.js')
    include ../includes/_analytics.jade
