- var title                  = "Adele Altman"
- var description            = ""
- var themeColor             = "#000"
- var thumbnail              = "/img/thumbnail.jpg" // perfect size: 1200x630
- var url                    = "http://www.adelealtman.it"
- var googleSiteVerification = ""
- var googleAnalytics        = "UA-9111827-36"
