- var title                  = "Adele Altman"
- var pageTitle              = "Adele Altman"
- var description            = "Tincidunt lacus. Proin dictum mattis feugiat. Nunc a finibus ex. Vestibulum pharetra leo nec lorem dapibus euismod."
- var themeColor             = "#000"
- var thumbnail              = "/img/06.jpg" // perfect size: 1200x630
- var url                    = "http://www.adelealtman.it"
- var googleSiteVerification = ""
- var googleAnalytics        = "UA-9111827-36"

- var homePage               = false
- var aboutPage              = false
- var shopPage               = false
- var workPage               = false
