include _vars.jade
- var homePage = true

doctype html
html(lang="it")
  include includes/_head.jade
  body.fade
    include img/icons/tmp/icons.svg
    
    div.app
      div.app__content
        include includes/_header.jade
        include includes/_nav.jade

        //- intro
        div.intro
          div.intro__content
            h2.sr-only #{description}
            div.intro__brand
              svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#brand")
            div.intro__logo
              svg
                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")

        //- carousell

        div.swiper-container
          div.swiper-wrapper
            div.swiper-slide.slide-1
            div.swiper-slide.slide-2
            div.swiper-slide.slide-3
            div.swiper-slide.slide-4
            div.swiper-slide.slide-5
            div.swiper-slide.slide-6
            div.swiper-slide.slide-7
          div.swiper-pagination
          div.swiper-button-next
            svg
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#next")
          div.swiper-button-prev
            svg
              use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#prev")

        include includes/_footer.jade

    script(src='/js/all.js')
    include includes/_analytics.jade
