include _vars.jade
- var homePage = true

doctype html
html(lang="it")
  include includes/_head.jade
  body
    include img/icons/tmp/icons.svg
    
    include includes/_header.jade
    include includes/_nav.jade

    

    //- intro
    div.intro
      div.intro__content
        div.intro__brand
          svg
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#brand")
        div.intro__logo
          svg
            use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#logo")

    //- carousell

    div.swiper-container
      div.swiper-wrapper
        div.swiper-slide.slide-1(style="background-image:url(/img/01.jpg)")
        div.swiper-slide.slide-2(style="background-image:url(/img/02.jpg)")
        div.swiper-slide.slide-3(style="background-image:url(/img/03.jpg)")
        div.swiper-slide.slide-4(style="background-image:url(/img/04.jpg)")
        div.swiper-slide.slide-5(style="background-image:url(/img/05.jpg)")
        div.swiper-slide.slide-6(style="background-image:url(/img/06.jpg)")
        div.swiper-slide.slide-7(style="background-image:url(/img/00.jpg)")
      div.swiper-pagination.swiper-pagination-white
      div.swiper-button-next.swiper-button-white
      div.swiper-button-prev.swiper-button-white

    include includes/_footer.jade

    script(src='/js/all.js')
    include includes/_analytics.jade
